@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0e0c1e;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1f1f2e;
}

::-webkit-scrollbar-thumb {
    background-color: #6b46c1;
    border-radius: 4px;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #6b46c1 #1f1f2e;
}